/* Write your CSS here */

.repository-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
}
.items-container {
  background-color: #f8f8ff;
  box-shadow: 1px 4px 4px 1px;
  outline: none;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 10px;
}
.avatar {
  width: 100px;
}
.name {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  color: #e73959;
}
.items {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.count {
  margin: 0px;
}
.icon {
  height: 20px;
  width: 20px;
  margin-right: 20px;
}
.repository-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
